{% extends "core/html/layouts/base.html" %}

{% block title %} Form Scope System {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% include 'core/html/includes/form/stylesheets.html' %}
{% include 'core/html/includes/core/stylesheets.html' %}

{% endblock stylesheets %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="float-start mr-2">FORM LINKs GUDANG</h1>
                    <h3 class="card-title mt-2"></h3>
                </div>
                <div class="col-sm-6">
                    <div class="float-end"><button type="button" class="btn btn-block btn-secondary btn-sm btnBack">KEMBALI</button></div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form id="form_">
                                <input type="hidden" id="id" {% if data_repository %} value="{{data_repository.id}}" {% endif %}>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Nama</label>
                                    <input type="text" class="form-control" name="name" placeholder="Nama" {% if data_repository %} value="{{data_repository.name}}" {% endif %} required>
                                </div>
                                <div class="mb-3">
                                    <label for="allocation" class="form-label">Peruntukan</label>
                                    <input type="text" class="form-control" name="allocation" placeholder="Peruntukan Link" {% if data_repository %} value="{{data_repository.allocation}}" readonly {% endif %} required>
                                </div>
                                <div class="mb-3">
                                    <label for="datalink" class="form-label">Isi Data</label>
                                    <input type="text" class="form-control" name="datalink" placeholder="Data Link" {% if data_repository %} value="{{data_repository.datalink}}" {% endif %} required>
                                </div>
                                <div class="mb-3">
                                    <label for="user" class="form-label">User</label>
                                    <input type="text" class="form-control" name="user" placeholder="User" {% if data_repository %} value="{{data_repository.user}}" {% endif %} required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="text" class="form-control" name="password" placeholder="P45w012d" {% if data_repository %} value="{{data_repository.password}}" {% endif %} required>
                                </div>
                                <div class="mb-3">
                                    <label for="active" class="form-label">Aktif</label>
                                    <select class="form-select" aria-label="Default select" name="active">
                                        <option value="true" {% if data_repository %}{% if data_repository.is_active %} selected {% endif %}{% endif %}>Aktif</option>
                                        <option value="false" {% if data_repository %}{% if not data_repository.is_active %} selected {% endif %}{% endif %}>Tidak Aktif</option>
                                    </select>
                                </div>
                                <div class="mb-3 mt-5 float-end">
                                    <button type="submit" class="btn btn-primary">SIMPAN</button>
                                </div>

                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% include 'core/html/includes/core/javascripts.html' %}
{% include 'core/html/includes/form/javascripts.html' %}
<!-- ------------------- -->
<script>const api = axios.create({ baseURL: '{{prefix_url_post}}{% if data_repository %}/{{data_repository.id}}{% endif %}', timeout: 2000, headers: { 'Authorization': 'Bearer ' + Cookies.get('{{TOKEN_KEY}}') } });</script>
<script src="{{prefix_url_js}}/form.js"></script>

{% endblock javascripts %}