{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% include 'includes/_page_stylesheets.html' %}
{% include 'includes/_all_stylesheets.html' %}

{% endblock stylesheets %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="/static/assets/img/avatar4.png" alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">{{data.full_name}}</h3>

                            <p class="text-muted text-center">Software Engineer</p>

                            <button type="button" class="btn btn-primary btn-block" disabled><b>Follow</b></a>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Tentang Saya</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <hr>
                            <hr>
                            <hr>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link disabled" href="#" data-bs-toggle="tab" data-bs-target="#nav-activity" role="tab" aria-controls="nav-activity" aria-selected="true">Activity</a></li>
                                <li class="nav-item"><a class="nav-link disabled" href="#" data-bs-toggle="tab" data-bs-target="#nav-timeline" role="tab" aria-controls="nav-timeline" aria-selected="true">Timeline</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#" data-bs-toggle="tab" data-bs-target="#nav-settings" role="tab" aria-controls="nav-settings" aria-selected="true">Settings</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#nav-gantipas" role="tab" aria-controls="nav-gantipas" aria-selected="true">Ganti Password</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane" id="nav-activity" role="tabpanel" aria-labelledby="nav-activity-tab" tabindex="0">
                                </div>
                                <!-- /.tab-activity -->
                                <div class="tab-pane" id="nav-timeline" role="tabpanel" aria-labelledby="nav-timeline-tab" tabindex="0">
                                </div>
                                <!-- /.tab-timeline -->
                                <div class="tab-pane active" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab" tabindex="0">
                                    <form id="form_setting">
                                        <div class="mb-3">
                                            <label for="fousername" class="form-label">Nama Akun</label>
                                            <input type="text" class="form-control" id="fousername" name="username" placeholder="username" {% if data %} value="{{data.username}}" {% endif %} required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="foemail" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="foemail" name="email" placeholder="email@contoh.com" {% if data %} value="{{data.email}}" {% endif %} required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="fofull_name" class="form-label">Nama Lengkap</label>
                                            <input type="text" class="form-control" id="fofull_name" name="full_name" placeholder="Nama Lengkap" {% if data %} value="{{data.full_name}}" {% endif %} required>
                                        </div>
                                        <div class="mb-3 mt-5 float-end">
                                            <button type="submit" class="btn btn-primary">SIMPAN</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-settings -->
                                <div class="tab-pane" id="nav-gantipas" role="tabpanel" aria-labelledby="nav-gantipas-tab" tabindex="0">
                                    <form id="form_gantipassword">
                                        <div class="mb-3">
                                            <label for="password_lama" class="form-label">Password Lama</label>
                                            <input type="text" class="form-control" id="password_lama" name="lama" placeholder="P45w012d L4mA" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password_baru" class="form-label">Password Baru</label>
                                            <input type="text" class="form-control" id="password_baru" name="baru" placeholder="P45w012d B4Ru" minlength="6" maxlength="32" required>
                                        </div>
                                        <div class="progress" id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 15px">
                                            <div class="progress-bar" style="width: 0%"></div>
                                        </div>
                                        <div class="mb-3 mt-5 float-end">
                                            <button type="submit" class="btn btn-primary">SIMPAN</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-settings -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% include 'includes/_all_javascripts.html' %}
{% include 'includes/_form_javascripts.html' %}
<!-- ------------------- -->
<script>const api = axios.create({ baseURL: '{{prefix_url}}/{{clientId}}/{{sessionId}}', timeout: 2000, headers: { 'Authorization': 'Bearer ' + Cookies.get('{{TOKEN_KEY}}') } });</script>
<script src="{{prefix_url}}/{{clientId}}/{{sessionId}}/{{app_version}}/ganti_password.js?id={{data.id}}"></script>
<script src="{{prefix_url}}/{{clientId}}/{{sessionId}}/{{app_version}}/setting.js?id={{data.id}}"></script>
{% endblock javascripts %}