{% extends "layouts/base.html" %}

{% block title %} System Setting {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% include 'includes/_page_stylesheets.html' %}
{% include 'includes/_all_stylesheets.html' %}

{% endblock stylesheets %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="float-start mr-2">SISTEM SETTING</h1>
                    <h3 class="card-title mt-2">Manajemen</h3>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs text-center">
                        <li class="nav-item">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-setting" type="button" role="tab" aria-controls="nav-setting" aria-selected="true">System Setting</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-changelog" type="button" role="tab" aria-controls="nav-changelog" aria-selected="false">ChangLog</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="nav-cors-tab" data-bs-toggle="tab" data-bs-target="#nav-cors" type="button" role="tab" aria-controls="nav-cors" aria-selected="false">Cross-Origin Resource Sharing</button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-setting" role="tabpanel" aria-labelledby="nav-setting-tab" tabindex="0">
                            <form id="form_setting">
                                <div class="mb-3">
                                    <label for="APP_NAME" class="form-label">Nama Applikasi</label>
                                    <input type="text" class="form-control" name="APP_NAME" value="{{app.APP_NAME}}">
                                </div>
                                <div class="mb-3">
                                    <label for="APP_DESCRIPTION" class="form-label">Deskripsi</label>
                                    <input type="text" class="form-control" name="APP_DESCRIPTION" value="{{app.APP_DESCRIPTION}}">
                                </div>
                                <div class="mb-3">
                                    <label for="CLIENTID_KEY" class="form-label">KEY_CLIENT Cookies</label>
                                    <input type="text" class="form-control" name="CLIENTID_KEY" value="{{app.CLIENTID_KEY}}">
                                </div>
                                <div class="mb-3">
                                    <label for="SESSION_KEY" class="form-label">KEY_SESSION Cookies</label>
                                    <input type="text" class="form-control" name="SESSION_KEY" value="{{app.SESSION_KEY}}">
                                </div>
                                <div class="mb-3">
                                    <label for="TOKEN_KEY" class="form-label">KEY_TOKEN Cookies</label>
                                    <input type="text" class="form-control" name="TOKEN_KEY" value="{{app.TOKEN_KEY}}">
                                </div>
                                <div class="mb-3">
                                    <label for="TOKEN_EXPIRED" class="form-label">TOKEN_EXPIRED</label>
                                    <input type="number" class="form-control" name="TOKEN_EXPIRED" value="{{app.TOKEN_EXPIRED}}">
                                </div>
                                <div class="mb-3">
                                    <label for="ALGORITHM" class="form-label">Algorithm JWT</label>
                                    <input type="text" class="form-control" name="ALGORITHM" value="{{app.ALGORITHM}}">
                                </div>
                                <div class="mb-3">
                                    <label for="SECRET_TEXT" class="form-label">Secret Text</label>
                                    <input type="text" class="form-control" name="SECRET_TEXT" value="{{app.SECRET_TEXT}}">
                                </div>
                                <div class="mb-3 mt-5 float-end">
                                    <button type="submit" class="btn btn-primary">SIMPAN</button>
                                </div>
                            </form>
                            <!-- /#nav-setting -->
                        </div>
                        <div class="tab-pane fade" id="nav-changelog" role="tabpanel" aria-labelledby="nav-changelog-tab" tabindex="0">
                            <div class="row">
                                <form id="form_changelog">
                                    <div class="mb-3">
                                        <label for="version" class="form-label">Versi Applikasi</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control col-2" name="version" value="{{app.version}}" placeholder="Versi">
                                            <input type="text" class="form-control col-2" name="version_name" value="{{app.version_name}}" placeholder="Nama">
                                            <input type="text" class="form-control" name="description" value="{{app.description}}" placeholder="Deskripsi">

                                            <button type="submit" class="btn btn-primary">TAMBAHKAN</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table id="table_" class="table table-bordered table-striped">
                            </table>

                            <!-- /#nav-changeLog -->
                        </div>
                        <div class="tab-pane fade" id="nav-cors" role="tabpanel" aria-labelledby="nav-cors-tab" tabindex="0">
                            <div class="row">
                                <form id="form_cors">
                                    <div class="mb-3">
                                        <label for="cors_link" class="form-label">Link CORS</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control col-12" id="cors_link" name="link" value="{{app.cors}}" placeholder="https://localhost">

                                            <button type="submit" class="btn btn-primary">TAMBAHKAN</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table id="table_cors" class="table table-bordered table-striped">
                            </table>

                            <!-- /#nav-cross-origin -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% include 'includes/_all_javascripts.html' %}
{% include 'includes/_page_javascripts.html' %}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/localization/messages_id.min.js" integrity="sha512-Orvt00GKq6XzBWqbltE094YknH2BN78wpQqLT/P3Jx3nhaBmEbd7JzVDJ2qLTu8J8SuMoACKoIxk851FS5ZIUA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- ------------------- -->
<script>const api = axios.create({ baseURL: '{{prefix_url}}/{{clientId}}/{{sessionId}}', timeout: 2000, headers: { 'Authorization': 'Bearer ' + Cookies.get('{{TOKEN_KEY}}') } });</script>
<script src="{{prefix_url}}/{{clientId}}/{{sessionId}}/{{app_version}}/index.js"></script>
<script src="{{prefix_url}}/{{clientId}}/{{sessionId}}/{{app_version}}/index_cors.js"></script>
<script src="{{prefix_url}}/{{clientId}}/{{sessionId}}/{{app_version}}/form.js"></script>
<script src="{{prefix_url}}/{{clientId}}/{{sessionId}}/{{app_version}}/form_changelog.js"></script>
<script src="{{prefix_url}}/{{clientId}}/{{sessionId}}/{{app_version}}/form_cors.js"></script>

{% endblock javascripts %}