{% extends "core/html/layouts/base.html" %}

{% block title %} Form Scope System {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% include 'core/html/includes/form/stylesheets.html' %}
{% include 'core/html/includes/core/stylesheets.html' %}

{% endblock stylesheets %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="float-start mr-2">FORM SCOPES</h1>
                    <h3 class="card-title mt-2">SCOPE Manajemen</h3>
                </div>
                <div class="col-sm-6">
                    <div class="float-end"><button type="button" class="btn btn-block btn-secondary btn-sm btnBack">KEMBALI</button></div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form id="form_">
                                <input type="hidden" id="id" {% if data_scope %} value="{{data_scope.id}}" {% endif %}>
                                <div class="mb-3">
                                    <label for="full_name" class="form-label">Scope</label>
                                    <input type="text" class="form-control" name="scope" placeholder="Nama Scope" {% if data_scope %} value="{{data_scope.scope}}" {% endif %} required>
                                </div>
                                <div class="mb-3">
                                    <label for="username" class="form-label">Deskripsi</label>
                                    <input type="text" class="form-control" name="desc" placeholder="Deskripsi Skope" {% if data_scope %} value="{{data_scope.desc}}" {% endif %} required>
                                </div>
                                <div class="mb-3 mt-5 float-end">
                                    <button type="submit" class="btn btn-primary">SIMPAN</button>
                                </div>

                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% include 'core/html/includes/core/javascripts.html' %}
{% include 'core/html/includes/form/javascripts.html' %}
<!-- ------------------- -->
<script>const api = axios.create({ baseURL: '{{prefix_url_post}}{% if data_scope %}/{{data_scope.id}}{% endif %}', timeout: 2000, withCredentials: true });</script>
<script src="{{prefix_url_js}}/form.js"></script>

{% endblock javascripts %}