{% extends "core/html/layouts/base.html" %}

{% block title %} Form Privilege {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% include 'core/html/includes/form/stylesheets.html' %}
{% include 'core/html/includes/core/stylesheets.html' %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

{% endblock stylesheets %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="float-start mr-2">FORM PRIVILEGE</h1>
                    <h3 class="card-title mt-2">Manajemen</h3>
                </div>
                <div class="col-sm-6">
                    <div class="float-end"><button type="button" class="btn btn-block btn-secondary btn-sm btnBack">KEMBALI</button></div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <!-- /.card-header -->

                        <div class="card-body">

                            <div class="row">
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-header">
                                            PRIVILEGE MENU
                                        </div>
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <select id="menutype_id" class="form-select" aria-label="select">
                                                    {% for item in menutype %}
                                                    <option value="{{ item.id }}">{{ item.menutype }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="row">
                                                <div id="jstree_">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <form id="form_">
                                        <input type="hidden" id="id" {% if data_privilege %} value="{{data_privilege.id}}" {% endif %}>
                                        <div class="mb-3">
                                            <label for="full_name" class="form-label">Nama Privilege</label>
                                            <input type="text" class="form-control" id="privilege" name="privilege" placeholder="Nama Privilege" {% if data_privilege %} value="{{data_privilege.privilege}}" {% endif %} required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Deskripsi</label>
                                            <input type="text" class="form-control" id="desc" name="desc" placeholder="Deskripsi Grup" {% if data_privilege %} value="{{data_privilege.desc}}" {% endif %} required>
                                        </div>
                                        <div class="mb-3 mt-5 float-end">
                                            <button type="submit" class="btn btn-primary">SIMPAN</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% include 'core/html/includes/core/javascripts.html' %}
{% include 'core/html/includes/form/javascripts.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<!-- ------------------- -->
<script>const api = axios.create({ baseURL: '{{prefix_url_post}}{% if data_privilege %}/{{data_privilege.id}}{% endif %}', timeout: 2000, headers: { 'Authorization': 'Bearer ' + Cookies.get('{{TOKEN_KEY}}') } });</script>
<script src="{{prefix_url_js}}/form.js{% if data_privilege %}?privilege_id={{data_privilege.id}}{% endif %}"></script>

{% endblock javascripts %}